.fotito{
    width: 50%;
    height: auto; 
    display: block;
    margin: auto; 
    box-shadow: 10px 10px 5px black; /*first number shadow´s long, then height, then the blur effect, 
    then additional space cover of lenght and*/
}

h1, h2, h3{
    text-align: center; /*text position*/
    color: white;
    font-family: Megadeth; /*link with the format i´ve alredy declare*/
}
h1{
    display: inline-block;
    font-size: 48px;
    background-color: black;
    box-shadow: black;
    width: 56%;
    padding-bottom: 10px;

/*rgb / rgba red, green and blue, max of 255*/
/*opacity is for everithing, is better to use rgb(0,0,0,0.5) last number (0-1) is for opacity*/
}
img{
    background-color: rgb(255, 255, 255); 
    padding: 4px; 
}

body{
    background-image: url(https://wallpapercave.com/wp/wp13035565.jpg);
    background-repeat: no-repeat; 
    background-size: cover; /*size*/
    background-position: center; 
    height: auto;
    text-align: center;
}

@font-face{ /*declare a new format*/
    font-family: Megadeth; /*name for the format so you use it later*/
    src: url(1.ttf) format(truetype);
    /*format(truetype) if the format is .ttf, opentype if it´s .otf*/

}

p{
    margin-left: 4%;
    margin-right: 4%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(255, 255, 255, 0.8); 
}
.albums{
    width: 200px;
    height: auto;
    border-radius: 7%; /*circle as border*/
    max-width: 200px; 
}
.grupo1{
    display: flex; /*objet´s type (flexible in this case)*/
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.grupo2{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.grupo3{ /*centers the images and then let a space between them so you can see 2 images on the same line
            only avalible for pc*/
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

h3{
    height: 3px;
    color: rgb(255, 255, 200);
}

@media (max-width: 600px) { /*better look for cellphones*/
    .albums {
        width: 80%;
        max-width: 300px;
    }

    h3 {
        font-size: 16px;
    }
}
a:active{
    color: gray;
}
a:visited{
    color: gray;
}

.socialicon{
    justify-content: space-between; /*just made the icons in line from left to right*/
    align-items: center; /*and take the same space of separations*/
    flex-wrap: nowrap;
    width: 15%;
    height: auto;
    padding: 0 2%;
    background-color: rgba(0, 0, 0, 0);
}

fieldset{
    color: white;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: auto;
    margin-bottom: auto;
    background: linear-gradient(90deg, rgba(80, 80, 80, 0.7),rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7), rgba(80, 80, 80, 0.7));
/*background-color: hsl: ((0-360), (0-100%), (0-100%) 1: color 2: saturation 3: lightness*/ 
/*background: linear-gradient(xdeg, color, color);  goes from one color to another by degreading*/
}