.fotito{
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

h1, h2, h3{
    text-align: center;
    color: white;
    font-family: Megadeth; /*es como linkear con el otro family*/
}
h1{
    font-size: 52px; /*tamaño texto*/
    margin-top: 3%;
    background-color: black;
    margin-right: 400px;
    margin-left: 400px;
    height: auto;
    background-color: rgb(0, 0, 0, 0.8); 
/*rgb paleta de color rojo verde y azul, y traparencia*/
/*opacity hace que todo sea trasparente, este lo evita*/
}

body{
    background-image: url(https://wallpapercave.com/wp/wp13035565.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@font-face{ /*marcar que hay una nueva fuente*/
    font-family: Megadeth; /*nombre que le doy y usarla dps*/
    src: url(Megadeth.ttf) format(truetype);
    /*format true type si es.ttf, opentype si es .otf*/

}
.contorno{
    color: white;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(0, 0, 0, 0.8); 
}
p{
    margin-left: 4%;
    margin-right: 4%;
}
.albums{
    width: 200px;
    height: auto;
    border-radius: 8px; /*borde redondeado*/
}
.grupo1{
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.grupo2{
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.grupo3{ /*centra en los extremos a las imagenes*/
    display: flex;
    justify-content: space-around; 
    align-items: center;

}
img{
        background-color: rgb(255, 255, 255); 
    padding: 4px; /*grosor*/
}
.imagenytexto{
    text-align: center;

}
h3{
    height: 4px;
}
.titulo{
    display: flex;
    justify-content: space-around; 
    align-items: center;
}



